{% extends 'XSMarketPlaceBundle:Layout:base.html.twig' %}

{% block title %}
  Market Place
{% endblock %}

{% block container %}
  <div class="container">
    {% set path = 'xs_market_place_homepage' %}
    {% include '@XSMarketPlace/Product/_all.html.twig' with {'specs' : specs, 'defaults' : defaults, 'view' : view, 'products':products, 'path':path} %}
  </div>
{% endblock %}
