<script>
  // Tous scripts JS de l'Ecommerce :) !!!
  $.fn.load_=$.fn.load;
  $.fn.load=function(){
    return $.fn.load_.apply(this,arguments).slideDown(500)/*hide().*//*(1000)*/;
  };
  $(".loading_spaces").hide();

  function addThisToCart(event, id) {
    event.preventDefault();
    var el = $(event.target);
    var post_url = el.attr('href');

    console.log(post_url);
    {#var post_url = "{{ path('xs_market_place_cart_add_product', {'id':}) }}";#}
    var post_data = '5';

    var el_fin_i = '<button class="btn btn-default addedtocart" title="Produit dans mon Panier!" disabled><i class="fa fa-check"></i> <span>Ajouté au Panier!</span></button>';
    var el_span = $(el.parent().parent());
    post_data = actions.payment.execute();
    $.ajax({
            type: 'POST',
      url: post_url,
      data: post_data,
      success: function(data) {
//                            $("#loading").hide();
        el.hide(3000);
//                    $("#loading_spaces").show();
//                    We ungra2 the hea*er cart mo*ule
//         $("#cart-header-module").html(data);
        console.log(data);
        el_span.html(el_fin_i);
//                    $("#loading_spaces").hide();
//                    We implement the notification
        iziToast.show({
          theme: 'dark',
          title: 'Panier',
          timeout: 2000,
          message: 'Produit ajouté à mon Panier!',
          position: 'bottomLeft', // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter
          progressBarColor: 'rgb(0, 255, 184)',
          image: 'https://maxcdn.icons8.com/Share/icon/nolan/Shopping/shopping_cart1600.png',
          imageWidth: 100,
          layout: 2, // dark
          transitionIn: 'flipInX',
          transitionOut: 'flipOutX',
          buttons: [
            ['<button>Fermer</button>', function (instance, toast) {
              instance.hide({
                transitionOut: 'fadeOutUp',
                onClosing: function(instance, toast, closedBy){
                  console.info('closedBy: ' + closedBy); //btn2
                }
              }, toast, 'close', 'btn2');
            }]
          ],
          onOpening: function(instance, toast){
            console.info('callback abriu!');
          },
          onClosing: function(instance, toast, closedBy){
            console.info('closedBy: ' + closedBy); // tells if it was closed by 'drag' or 'button'
          }
        });
      }
    });
  }

  function addThisToList(event, list, link) {
    event.preventDefault();
    var el = $(event.target);
    // var post_url = el.attr('href');
    var post_url = link;

    console.log(post_url);
    var post_data = '5';

    var title = '';
    var content = '';
    var el_fin_i, el_span = null;

    console.log(title);
    if(post_url !== undefined){
      $.ajax({
        type: 'POST',
        url: post_url,
        data: post_data,
        success: function(data) {
          switch (list){
            case 'cart':
              title = 'Panier';
              el_fin_i = '<button class="btn btn-default addedtocart" title="Produit dans mon Panier!" disabled><i class="fa fa-check"></i> <span>Ajouté au Panier!</span></button>';
              el_span = $(el.parent().parent());
              el_span.html(el_fin_i);
              break;
            case 'wish_list':
              title = 'Liste de Voeux';
              el_fin_i = '<a href="{{ path('xs_market_place_wish_list') }}" class="addedtowishlist" title="Produit dans ma liste de Voeux"><i class="fa fa-heart"></i></a>';
              el_span = $(el.parent());
              el_span.html(el_fin_i);
              break;
            case 'compare_list':
              title = 'Liste de Comparaison';
              el_fin_i = '<a href="{{ path('xs_market_place_compare_list') }}" class="comparelinkadded" title="Produit dans ma liste de Comparaison"><i class="glyphicon glyphicon-signal"></i></a>';
              el_span = $(el.parent());
              el_span.html(el_fin_i);
              break;
          }

          console.log(el_span);
          content = data.content;
          showNotification(title, content);
        }
        // el_span.html(el_fin_i);
//                    $("#loading_spaces").hide();
//                    We implement the notification
      });
    }else{
      title = 'Erreur';
      content = 'Erreur inconnue, merci de recommencer plus tard!';
      showNotification(title, content);
    }

  }

  $(document).ready(function(){
    $(function(){
//                we work here
      $("div").on("click", "a.removefromcart", function(event){
        event.preventDefault();
        var el = $(this);
        var post_url = el.attr('href');
        var el_block = $('#block_'+el.attr('id'));
        $.ajax({
          type: 'POST',
          url: post_url,
          data: '1',
          success: function(data) {
//                            $("#loading").hide();
//                            el_block.hide(1000);
            $("#cart-header-module").html(data);
//                    We implement the notification
            iziToast.show({
              theme: 'dark',
              title: 'Cart',
              toastOnce: true,
              timeout: 2000,
              message: 'Product removed from Cart!',
              position: 'topCenter', // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter
              progressBarColor: 'rgb(0, 255, 184)',
              image: 'https://maxcdn.icons8.com/Share/icon/nolan/Shopping/shopping_cart1600.png',
              imageWidth: 100,
              layout: 1, // dark
              transitionIn: 'flipInX',
              transitionOut: 'flipOutX',
              buttons: [
                ['<button>Close</button>', function (instance, toast) {
                  instance.hide({
                    transitionOut: 'fadeOutUp',
                    onClosing: function(instance, toast, closedBy){
                      console.info('closedBy: ' + closedBy); //btn2
                    }
                  }, toast, 'close', 'btn2');
                }]
              ],
              onOpening: function(instance, toast){
                console.info('callback 25');
              },
              onClosing: function(instance, toast, closedBy){
                console.info('closedBy: ' + closedBy); // tells if it was closed by 'drag' or 'button'
              }
            });
            var reload_table = $("#cart_main_table");
            if(reload_table){
//                                reload_table.hide();
              {#reload_table.load("{{  path('main_cart_ajax_load_table') }}");#}
            }
          }
        });
      });

      /*$("div .view-mode").on("click", "a", function(event){
        event.preventDefault();

        var el = $(this);
        var post_url = el.attr('target-data');
        var block_url = el.attr('target-view');
        window.history.pushState('page2', 'Title', el.attr('href'));
        var el_block = $('#'+block_url);
        if(el_block){
          el_block.load(post_url);
        }
      });*/

      /*$("div .product-actions").on("click", "a.addtocart", function( event ) {
        event.preventDefault();
        var el = $(this);
        var post_url = el.attr('href');
        var post_data = '5';
      
        var el_fin_i = '<button class="btn btn-default addedtocart" title="Product in Cart!" disabled><i class="fa fa-check"></i> <span>Added to Cart</span></button>';
        var el_span = $('#span_'+el.attr('id'));
        $.ajax({
          type: 'POST',
          url: post_url,
          data: post_data,
          success: function(data) {
//                            $("#loading").hide();
            el.hide(3000);
//                    $("#loading_spaces").show();
//                    We ungra2 the hea*er cart mo*ule
            $("#cart-header-module").html(data);
            el_span.html(el_fin_i);
//                    $("#loading_spaces").hide();
//                    We implement the notification
            iziToast.show({
              theme: 'dark',
              title: 'Cart',
              timeout: 2000,
              message: 'Product added to Cart!',
              position: 'topCenter', // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter
              progressBarColor: 'rgb(0, 255, 184)',
              image: 'https://maxcdn.icons8.com/Share/icon/nolan/Shopping/shopping_cart1600.png',
              imageWidth: 100,
              layout: 2, // dark
              transitionIn: 'flipInX',
              transitionOut: 'flipOutX',
              buttons: [
                ['<button>Close</button>', function (instance, toast) {
                  instance.hide({
                    transitionOut: 'fadeOutUp',
                    onClosing: function(instance, toast, closedBy){
                      console.info('closedBy: ' + closedBy); //btn2
                    }
                  }, toast, 'close', 'btn2');
                }]
              ],
              onOpening: function(instance, toast){
                console.info('callback abriu!');
              },
              onClosing: function(instance, toast, closedBy){
                console.info('closedBy: ' + closedBy); // tells if it was closed by 'drag' or 'button'
              }
            });
          
          }
        });
      });*/

    });
  });


  /*$( ".removefromcart" ).click(function( event ) {
      event.preventDefault();
alert(1);

  });*/

  function showNotification(title, content) {
    iziToast.show({
      theme: 'dark',
      title: title,
      timeout: 2000,
      message: content,
      position: 'bottomLeft', // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter
      progressBarColor: 'rgb(0, 255, 184)',
      // image: 'https://maxcdn.icons8.com/Share/icon/nolan/Shopping/shopping_cart1600.png',
      imageWidth: 100,
      layout: 2, // dark
      transitionIn: 'flipInX',
      transitionOut: 'flipOutX',
      buttons: [
        ['<button>Fermer</button>', function (instance, toast) {
          instance.hide({
            transitionOut: 'fadeOutUp',
            onClosing: function(instance, toast, closedBy){
              console.info('closedBy: ' + closedBy); //btn2
            }
          }, toast, 'close', 'btn2');
        }]
      ],
      onOpening: function(instance, toast){
        // console.info('callback abriu!');
      },
      onClosing: function(instance, toast, closedBy){
        // console.info('closedBy: ' + closedBy); // tells if it was closed by 'drag' or 'button'
      }
    });
  }

</script>