<form class="marshall-newsletter-content" action="{{ path('radio_relax_coming_soon_register') }}" method="post" enctype="multipart/form-data">
  <input type="email" name="email" placeholder="{{ "form.email"|trans }}">
  <button class="marshall_submit" type="submit">{{ 'button.signup'|trans }}</button>
  <label for="marshall-email"></label>
</form>