<tr><td>
    <div class="medi">
      <div class="media-left">
        <a href="javascript:;">
          <img alt="" class="img-circle" src="{{ asset('assets/layouts/layout3/img/sections/10xedu.png') }}" width="20">
        </a>
      </div>
      <div class="media-body">
        {#<a href="javascript:;">{{ reply.author.nickname }}</a> <small><span class="c-date">{{ reply.dateAdd | time_diff }}</span></small>#}
        <div class="col-md-12">{{ reply.content }}</div>
      </div>
    </div>
  </td></tr>