<form class="tab-pane active" id="tab-first" action="{{ path('xs_afrobank_credit_account', {'namespace': namespace}) }}" method="post">
    <div class="row">
        {{ form_errors(form) }}
    </div>
    {{ form_row(form._token) }}

    <div class="input-group">
        {{ form_widget(form.amount.value, {'attr': {
            'class': 'form-control',
            'placeholder': '500'
        }})
        }}
        <span class="input-group-btn">
            <button title="Enregistrer ma proposition" class="btn btn-default" type="submit">
                <span class="fa fa-save"></span>
            </button>
        </span>
    </div>
</form>