/* Skills */

/*Skill 1*/
.skill-percentage.skill-1 {
  width: 20%;
}
/*Skill 2*/
.skill-percentage.skill-2 {
  width: 40%;
}
/*Skill 3*/
.skill-percentage.skill-3 {
  width: 60%;
}
/*Skill 4*/
.skill-percentage.skill-4 {
  width: 70%;
}
/*Skill 5*/
.skill-percentage.skill-5 {
  width: 80%;
}
/*Skill 6*/
.skill-percentage.skill-6 {
  width: 85%;
}
/*Skill 7*/
.skill-percentage.skill-7 {
  width: 90%;
}
/*Skill 8*/
.skill-percentage.skill-8 {
  width: 95%;
}
/* Skills */
